{% extends 'base.html.twig' %}

{% block body %}

<h1>Sign up</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">sign up !</button>
    {{ form_end(form) }}

{% endblock %}