{% extends 'base.html.twig' %}

 
{% block body %}
<h1>TabSeance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSeance</th>
                <th>TypeSeance</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
        {% for TabSeance in TabSeances %}
            <tr>
                <td>{{ TabSeance.idSeance }}</td>
                <td>{{ TabSeance.typeSeance }}</td>
                <td>{{ TabSeance.dateDebut }}</td>
                <td>{{ TabSeance.dateFin }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %} 

        </tbody>
    </table>

   
{% endblock %}


