{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

{% for produit in produits %}

<div class="card text-dark bg-light mb-7" style="width: 30rem;">

  
        <div class="tz-gallery">

                     <a class="lightbox" href="{{ asset('uploads/' ~ produit.image)  }}">
                        <img class="card-img-top" src="{{ asset('uploads/' ~ produit.image) }}" alt=" "  style="width: 100px; height: 100px">
                     </a>
        </div>
<div class="card-body">
                    <h5 class="card-title">{{ produit.description  }}</h5>
                    <p class="card-text">{{ produit.price  }}</p>
             </div>
 
{% endfor %}

 {% endblock %}



