{% extends 'base.html.twig' %}

{% block body %}
  <!-- our protien  -->


       
                     <h2>Our Protien</h2>
                  
  {% for produit in produits %}

                      <a class="lightbox" href="{{ asset('uploads/' ~ produit.image)  }}">
                     <figure><img src="{{ asset('uploads/' ~ produit.image) }}" alt="#"/></figure>
                     <h3> {{ produit.price  }} TND</h3>
                     <h4> </h4>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                  </div>
               </div>
               
      <!-- end our protien  -->
      {% endfor %}


 {% endblock %}



